.container {
  width: 800px;
  height: fit-content;
  min-height: 60px;
  border: solid 1px black;
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  margin: 5px;
}
.userName {
  font-size: 25px;
  width: 100%;
  display: flex;
  justify-content: right;
  padding: 20px 70px;
  padding-top: 5px;
}
.content {
  font-size: 20px;
  width: 100%;
  padding: 5px 40px;
  padding-top: 15px;
}
.starsCont {
  width: 100%;
  display: flex;
  flex-direction: row;
  padding: 10px 20px;
  padding-bottom: 0px;
  font-size: 20px;
}
