* {
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  padding: 0;
  max-width: 100vw;
  height: 100vh;
}
.back {
  position: absolute;
  left: 30px;
  top: 30px;
  border-radius: 20px;
  padding: 10px;
  font-size: 30px;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
.postContainer {
  margin-top: 100px;
  width: 750px;
  height: 650px;
  border: solid 5px black;
  position: relative;
  border-radius: 10px;
  /*padding: 30px;*/
}
.title {
  padding: 40px;
  font-size: 50px;
  margin-left: 70px;
}
.userName {
  position: absolute;
  font-size: 25px;

  top: 20px;
  left: 20px;
}
.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-bottom: 3px solid black;
  position: relative;
}
.description {
  font-size: 20px;
  border: solid 2px black;
  padding: 10px;
  width: 600px;
  height: fit-content;
  min-height: 100px;
  margin: 20px;
}
.description p {
  font-size: 25px;
  padding: 5px;
  padding-bottom: 10px;
}
.price {
  font-size: 30px;
  position: absolute;
  bottom: 50px;
  right: 40px;
}
.subject {
  margin: 20px;
  margin-top: 30px;
  font-size: 20px;
}

.jobType {
  font-size: 20px;
  margin: 20px;
}
