.container {
  margin-top: 100px;
  height: 300px;
  width: 100%;
  border: solid 2px black;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
}
.apply {
  height: 30px;
  width: 120px;
  position: absolute;
  bottom: 20px;
  left: 43%;
}
.reset {
  height: 30px;
  width: 120px;
  position: absolute;
  bottom: 20px;
  right: 43%;
}
.titles {
  font-size: 30px;
}
