* {
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

.container {
  /* background-color: rgb(72, 83, 148); */
  cursor: pointer;
  padding: 20px;
  height: 300px;
  width: 400px;
  font-size: 20px;
  border: solid 2px black;
  border-radius: 10px;
  box-sizing: border-box;
  position: relative;
  display: block;
  word-wrap: break-word;
}

.container:hover {
  background-color: rgb(160, 160, 160);
  transition: 0.1s ease-in;
}

.userName {
  font-size: 30px;
  border-bottom: solid 2px;
}
.title {
  font-size: 50px;
}
.starsCont {
  display: flex;
  flex-direction: row;
}
