* {
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

.container {
  /* background-color: rgb(72, 83, 148); */
  cursor: pointer;
  padding: 20px;
  height: 300px;
  width: 400px;
  font-size: 20px;
  border: solid 2px black;
  border-radius: 10px;
  box-sizing: border-box;
  position: relative;
  display: block;
  word-wrap: break-word;
}

.container:hover {
  background-color: rgb(160, 160, 160);
  transition: 0.1s ease-in;
}

.userName {
  font-size: 30px;
}
.title {
  font-size: 50px;
}
.starsCont {
  display: flex;
  flex-direction: row;
}
.star {
  font-size: 30px;
  color: rgb(226, 96, 35);
}
.userPostImg {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: solid 3px black;
  margin-right: 10px;
  margin-bottom: 5px;
}
.userPostContainer {
  display: flex;
  border-bottom: solid 3px black;
  align-items: center;
}

.postImg {
  width: 100%;
  height: 150px;
}
